/week2/exercise25/nbproject/private/
/week2/Exercise25/nbproject/private/
/week2/Exercise25/build/
/week2/Exercise25/dist/
/week2/Hello World App/nbproject/private/
/week2/Exercise 25/nbproject/private/
/week2/Exercise 25/build/
/week2/Exercise 26/nbproject/private/
/week2/Exercise 26/build/
/week2/Exercise 27/nbproject/private/
/week2/Exercise 27/build/
/week2/Exercise 28/nbproject/private/
/week2/Exercise 28/build/
/week2/Exercise 29/nbproject/private/
/week2/Exercise 29/build/
/week2/Exercise 30/nbproject/private/
/week2/Exercise 30/build/
/week2/Exercise31/nbproject/private/
/week2/Exercise31/build/
/week2/Exercise 32/nbproject/private/
/week2/Exercise 32/build/
/week2/Exercise 33/nbproject/private/
/week2/Exercise 33/build/
/week2/Exercise 34/nbproject/private/
/week2/Exercise 34/build/
/week2/Exercise 35/nbproject/private/
/week2/Exercise 35/build/